<footer class="footer">
  <div class="container">
    <div class="row">
      <!-- Contacto -->
      <div class="col-md-4">
        <h5>Contáctanos</h5>
        <p>📞 Teléfono: +51 987 654 321</p>
        <p>📱 WhatsApp: +51 912 345 678</p>
        <p>✉️ Email: contacto@panchitovet.com</p>
      </div>

      <!-- Dirección -->
      <div class="col-md-4">
        <h5>Dirección</h5>
        <p>📍 Av. Las Mascotas 123, Lince, Lima</p>
        <p>🕒 Lunes a Sábado: 9am – 6pm</p>
      </div>

      <!-- Redes sociales -->
      <div class="col-md-4">
        <h5>Síguenos</h5>
        <a href="#" class="social twitter">🐦 Twitter</a><br>
        <a href="#" class="social instagram">📸 Instagram</a><br>
        <a href="#" class="social facebook">📘 Facebook</a><br>
        <a href="#" class="social youtube">🎥 YouTube</a>
      </div>
    </div>
    <hr>
    <p class="text-center">© 2025 Panchito Veterinaria. Todos los derechos reservados.</p>
  </div>
</footer>