.mascota-card img {
  height: 450px;
  object-fit: cover;
}

.adopciones-header h2 {
  color: #2e7d32;
  font-weight: bold;
}

.adopciones-header p {
  font-size: 1.1rem;
  color: #555;
}