<div class="container py-4">
  <h3 class="text-center mb-4">📅 Citas reservadas</h3>

  <div class="mb-3 text-start">
    <a routerLink="/acceso-veterinario" class="btn btn-outline-secondary">
      ← Volver al panel
    </a>
  </div>


  <table class="table table-bordered table-hover">
    <thead class="table-success">
      <tr>
        <th>Cliente</th>
        <th>Mascota</th>
        <th>Tipo</th>
        <th>Motivo</th>
        <th>Fecha</th>
        <th>Hora</th>
        <th>Contacto</th>
        <th>Acciones</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let cita of citas; let i = index">
        <td>{{ cita.nombre }}</td>
        <td>{{ cita.mascota }}</td>
        <td>{{ cita.tipo }}</td>
        <td>{{ cita.motivo }}</td>
        <td>{{ cita.fecha }}</td>
        <td>{{ cita.hora }}</td>
        <td>{{ cita.contacto }}</td>
        <td>
          <button class="btn btn-sm btn-danger" (click)="eliminarCita(i)">
            Eliminar
          </button>
        </td>
      </tr>
      <tr *ngIf="citas.length === 0">
        <td colspan="8" class="text-center text-muted">No hay citas registradas</td>
      </tr>
    </tbody>
  </table>
</div>